.modalStory[open] {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  padding: 2.25rem;
}
.modalStory::backdrop {
  background-color: rgb(26, 26, 26);
}

.modalStory__logo {
  align-self: flex-start;
}

.modalStory__logo img {
  height: 40px;
}

.modalStory__content {
  position: relative;
  padding: 0 4rem;
}

/* story */
.modalStory__story {
  height: 100%;
  max-width: 500px;

  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.modalStory__progress {
  position: absolute;
  z-index: 2;

  width: 100%;
  gap: 0.5rem;
  padding: 1rem 1rem;
  box-sizing: border-box;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(78, 68, 68, 0.01) 100%
  );
}

/* story */
.modalStory__user {
  bottom: 0;
  width: 100%;
}

.modalStory__avatar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font: var(--textBold);
  color: var(--white);
}

.modalStory__avatar .time {
  font: var(--text1);
  color: var(--gray20);
}

.modalStory__progress__item {
  width: 100%;
  appearance: none;
  height: 5px;
}

.modalStory__progress__item[value]::-webkit-progress-bar {
  border-radius: 15px;
}
.modalStory__progress__item[value]::-webkit-progress-value {
  background: #fff;
  border-radius: 15px;
}

.modalStory__progress__item::-webkit-progress-bar,
.modalStory__progress__item::-webkit-progress-value {
  border-radius: 3px;
}

.modalStory__video {
  max-width: 100%;
  height: 100%;
  object-fit: fill;
  vertical-align: middle;
}

.modalStory__image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  max-width: 100%;
  height: 100%;
  object-fit: fill;
  vertical-align: middle;
}

.is-show {
  opacity: 1;
}

/* extern buttons */
.modalStory__icon {
  align-self: flex-start;
}
.modalStory__icon .button {
  padding: 1rem;
}

.modalStory__button {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: var(--white);
  position: absolute;
  top: 50%;
}

.modalStory__button.back {
  left: 0;
  display: none;
}
.modalStory__button.next {
  right: 0;
}

.modalStory__icon i {
  font-size: 1rem;
  color: var(--white);
}

.modalStory__response {
  background: linear-gradient(
    360deg,
    rgb(37, 36, 36) 0%,
    rgba(255, 34, 34, 0) 100%
  );
  padding: 1rem;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
}

.modalStory__message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.modalStory__message input {
  border: none;
  background: transparent;
  box-sizing: border-box;
  border: 1px solid var(--white);
  padding: 1rem;
  flex: 1;
  border-radius: 80px;
  outline: none;
  color: var(--white);
}

.modalStory__message input::placeholder {
  color: var(--white);
}

.modalStory__message .button i {
  font-size: 2rem;
  color: var(--white);
}
